<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria</title>
</head>
<body>
    <main>

        <div class="header-cats">
            <h2>Adoption Menu</h2>
        </div>
        <section class="container-cats">
            <article data-type="cat" data-id="1">
                <img src="/imagesCat/cat1.png" alt="Cat named Yuki">
                <h3>Name: Yuki</h3>
                <p>Weight: 10kg</p>
                <button class="adoption-btn">Adopt me</button>
            </article>
            <article data-type="cat" data-id="2">
                <img src="/imagesCat/cat2.png" alt="Cat named Yuki2">
                <h3>Name: Yuki2</h3>
                <p>Weight: 15kg</p>
                <button class="adoption-btn">Adopt me</button>
            </article>
            <article data-type="cat" data-id="3">
                <img src="/imagesCat/cat3.png" alt="Cat named Shadow">
                <h3>Name: Yuki3</h3>
                <p>Weight: 7kg</p>
                <button class="adoption-btn">Adopt me</button>
            </article>
        </section>
    </main>
</body>
</html>