a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}
ul li {
    list-style: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 2.5rem;
}
label, input{
    display: none;
}


a:hover {
    color: #007BFF;
}

h1 {
    margin: 5px 0;
    border-radius: 8px;

}

h6 {
    margin: 5px 0;
    background-color: white;
    border-radius: 8px;

}

.container-principal {
    text-align: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.container-1 {
    color: #f5f5f5;
    background-color: #007BFF;
    padding: 4rem;
    border-radius: 8px;
    margin-inline: 2rem;
}

.container-2 {
    margin-top: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    height: 120px;
    background-color: #007BFF;
    color: black;
    display: flex;
    align-items: center;
    padding: 0 24px;
    font-size: small;

}

.horizontal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.horizontal-list li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: medium;
}

.background-div {
    background-image: "";
    background-repeat: none;
}

main {
    display: flex;
    height: calc(100vh - 80px);
}

#app-title {
    cursor: pointer;
}
#app-title:hover {
    color: #ffffff;
}   
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .horizontal-list {
        flex-direction: column;
        align-items: center;
    }

    .horizontal-list li {
        margin-bottom: 10px;
    }

    label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  user-select: none;
}
.horizontal-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    display: none;
}
li {
    display: block;
  margin: 0;
  padding: 10px;
  list-style: none;
}

ul {
    display: none;
}

input:checked  ~ ul{
  display: flex;
}
input:checked ~ label{
  background: #007BFF;
  color: white;
}




}