<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
        <header>
        <h1 id="app-title"><a href="index.html">Paw & Tails</a></h1>
        <nav aria-label="Main navigation panel">
            <input type="checkbox" id="menu">
            <label for="menu" aria-label="Open Menu">☰</label>
            <ul class="horizontal-list">
                <li><a href="peta.html">Peta</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="help.html">How you can help</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="testimonials.html">Testimonials</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li>
                    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                        <img src="/images/facebook.png" class="social-media-icons" alt="Facebook">

                    </a>
                </li>

                <li>
                    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                        <img src="/images/instagram.png" class="social-media-icons" alt="Instagram">
                    </a>
                </li>

                <li>
                    <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
                        <img src="/images/youtube.png" class="social-media-icons" alt="YouTube">
                    </a>
                </li>

                <li>
                    <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
                        <img src="/images/twitter.png" class="social-media-icons" alt="Twitter">
                    </a>
                </li>


            </ul>
        </nav>
    </header>
    <main>
        <div class="adoption-container">
            <article>
                <h2>Adoption Details</h2>
                <img id="pet-image" src="" alt="Pet Image" />
                <h3 id="pet-name">Name: </h3>
                <p id="pet-weight">Weight: </p>
                <button class="adoption-btn"><a href="/index.html">Go Back</a></button>
                <button class="adoption-btn" id="confirm-adoption-btn">Confirm Adoption</button>
            </article>

        </div>
    </main>
    <script src="/js/scripts.js"></script>
</body>

</html>