<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1 id="app-title"><a href="index.html">Paw & Tails</a></h1>
        <nav aria-label="Main navigation panel">
            <input type="checkbox" id="menu">
            <label for="menu" aria-label="Open Menu">☰</label>
            <ul class="horizontal-list">
                <li><a href="peta.html">Peta</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="help.html">How you can help</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li>
                    <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                        <img src="/images/facebook.png" class="social-media-icons" alt="Facebook">

                    </a>
                </li>

                <li>
                    <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                        <img src="/images/instagram.png" class="social-media-icons" alt="Instagram">
                    </a>
                </li>

                <li>
                    <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
                        <img src="/images/youtube.png" class="social-media-icons" alt="YouTube">
                    </a>
                </li>

                <li>
                    <a href="https://www.twitter.com" target="_blank" rel="noopener noreferrer">
                        <img src="/images/twitter.png" class="social-media-icons" alt="Twitter">
                    </a>
                </li>
                <li>
                    <a href="cart.html">
                    <img src="/images/cart.png" alt="Shopping Cart" class="cart-icon" id="cart-icon">
                    </a>
                </li>


            </ul>
        </nav>
    </header>
    <main>
        <section class="container-principal">
            <section class="container-1">
                <img src="/images/patas.png" alt="">

                <h2>Every Animal Deserves a Loving Home</h2>
                <p>Adoption is a lifelong of love and care - open your heart and give a homeless pet a forever home.</p>
            </section>
            <div class="container-2">
                <nav aria-label="Pet Adoption Categories">
                    <button id="load-dogs-btn">Dogs</button>
                    <button id="load-cats-btn">Cats</button>
                </nav>
            </div>

            <div>
                <section id="pets-container" class="container-pets">
                </section>
            </div>

        </section>
    </main>
    <script src="/js/scripts.js"></script>


</body>

</html>
